
  
/* 
.bg-light{
  background : linear-gradient(225deg, #ff0087 8%, #ff4e00 46%, #ff8600 65%, #ffc300 84%, #fbff00 100%);

} */
#root{
  min-height: 100vh;
  background : linear-gradient(225deg, #ff0087 8%, #ff4e00 46%, #ff8600 65%, #ffc300 84%, #fbff00 100%);
}